<div id="wrapper">
  <div id="header">
    <a href="" class="logo">
      <img src="src/app/Image/6894255.jpg" height="100" width="200" alt="">
    </a>
    <div class="search-text">
      <input type="searh" name="Tìm kiếm" placeholder="Tìm kiếm của bạn...">
      <a href="#" class="search-btn">
      </a>
      <i class="fa fa-search"></i>
    </div>
    <div id="logos">
      <a href="" class="logosearch">
        <img src="src/app/Image/icons8-search-50.png" height="40" width="40" alt="">
      </a>
    </div>
    <div id="menu">
      <div class="item">
        <a [routerLink]="['']" href=""> Trang chủ</a>
      </div>
      <div class="item">
        <a [routerLink]="['/products']" href=""> Sản phẩm</a>
      </div>
      <div class="item">
        <a [routerLink]="['/blog']" href=""> Blog</a>
      </div>
      <div class="item">
        <a [routerLink]="['/contact']" href=""> Liên hệ</a>
      </div>
    </div>
    <div id="actions">
      <div class="item">
        <img src="src/app/Image/8380015.jpg" height="50" width="50"  alt="">
      </div>
      <div class="item">
        <img src="src/app/Image/—Pngtree—shopping%20cart%20convenient%20icon_4637407%20(1).png" height="50" width="50" alt="">
      </div>
    </div>
  </div>

  <div id="banner">
    <div class="box-left">
      <h2>
        <span>Cây Cảnh </span>
        <br>
        <span>Số Một </span>
      </h2>
      <p> Chuyên Cung cấp các loại cây cảnh đầy đủ những
        loại chất lượng cao phục vụ khách hàng, người trồng
        một cách đầy đủ nhất
      </p>
      <button>Mua ngay</button>

    </div>
    <div class="box-right">
      <img src="cay-xoai-cong-trinh-420x420.jpg"height="400" width="150" alt="">
      <img src="chau-da-yen-thao-to-420x420.jpg" height="450" width="150" alt="">
      <img src="sen-da-giva-420x420.jpg" height="400" width="150" alt="">
    </div>
    <div class="to-bottom">
      <a href="">
        <img src="src/app/Image/icons8-drop-down-100.png" alt="">
      </a>
    </div>
  </div>
  <div id="wp-products">
    <h2> CÂY CẢNH CỦA CHÚNG TÔI </h2>
    <ul id="list-products">
      <div class="item">
        <img src="src/app/Image/cay-monstera-albo-de-ban-255x255.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
        </div>
        <div class="name">Cây monster ablo để bàn</div>
        <div class="desc">Cây cảnh văn phòng</div>
        <div class="price">400.000Đ</div>
      </div>
      <div class="item">
        <img src="cay-phat-tai-nui-3-than-255x255.jpg" height="280" width="280" alt="">
        <div class="stars">

                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
        </div>
        <div class="name">Cây phát tài núi</div>
        <div class="desc">Cây cảnh phong thủy</div>
        <div class="price"> 1.000.000Đ</div>
      </div>
      <div class="item">
        <img src="cay-truc-nhat-dep-255x255.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
        </div>
        <div class="name">Cây Trúc Nhật</div>
        <div class="desc"> Cây Cảnh văn Phòng</div>
        <div class="price"> 390.000Đ</div>
      </div>
      <div class="item">
        <img src="xuong-rong-kim-ho-2-420x420.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
        </div>
        <div class="name">Xương rồng kim hổ</div>
        <div class="desc">Xương rồng cảnh</div>
        <div class="price">30.000Đ</div>
      </div>
      <div class="item">
        <img src="hoa-cay-nguyet-que-420x420.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>


        </div>
        <div class="name">Hoa cây nguyệt quế</div>
        <div class="desc">Hoa cảnh văn phòng</div>
        <div class="price">60.000Đ</div>
      </div>
      <div class="item">
        <img src="cay-hanh-phuc-2-tang-420x420.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>


        </div>
        <div class="name">Cây hạnh phúc 2 tầng</div>
        <div class="desc">Cây cảnh văn phòng</div>
        <div class="price">200.000Đ</div>
      </div>
      <div class="item">
        <img src="Cay-kim-ngan-thuy-sinh-to-dep-420x420.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>


        </div>
        <div class="name">Cây kim ngân thủy sinh</div>
        <div class="desc">Cây cảnh phong thủy </div>
        <div class="price"> 80.000Đ</div>
      </div>
      <div class="item">
        <img src="cay-luoi-ho-dai-420x420.jpg" height="280" width="280" alt="">
        <div class="stars">
                        <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>
          <span>
                            <img src="icons8-star-48.png" alt="">
                        </span>



        </div>
        <div class="name">Cây lưỡi hổ đại</div>
        <div class="desc">Cây cảnh phong thủy</div>
        <div class="price"> 90.000Đ</div>
      </div>
    </ul>
    <div class="list-page">
      <div class="item">
        <a href="">1</a>
      </div>
      <div class="item">
        <a href="">2</a>
      </div>
      <div class="item">
        <a href="">3</a>
      </div>
      <div class="item">
        <a href="">4</a>
      </div>

    </div>
  </div>
  <div id="saleoff">
    <div class="box-left">
      <h1>
        <span>GIẢM GIÁ LÊN ĐẾN</span>
        <span>45%</span>
      </h1>
    </div>
    <div class="box-right"></div>
  </div>
</div>
